{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand brand-title" href="#">Shrishti Library</a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link custom-nav-link active" href="{% url 'home' %}"><i class="bi bi-house-door-fill"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="{% url 'register' %}"><i class="bi bi-person-plus-fill"></i> Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="#"><i class="bi bi-box-arrow-in-right"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link" href="#"><i class="bi bi-envelope-fill"></i> Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>